[submodule "lib/clipp"]
	path = lib/clipp
	url = https://github.com/muellan/clipp.git
[submodule "lib/hunspell"]
	path = lib/hunspell
	url = git@github.com:maciejgaleja/hunspell.git
[submodule "lib/libresult"]
	path = lib/libresult
	url = git@github.com:maciejgaleja/libresult.git
